.toastRegion {
  position: fixed;
  right: var(--spacing-sm);
  bottom: var(--spacing-sm);
  left: var(--spacing-sm);
  z-index: 9999;

  display: flex;
  flex-direction: column-reverse;
  gap: var(--spacing-xs);
  pointer-events: none;
}

@media (width >= 48em) {
  .toastRegion {
    right: var(--spacing-lg);
    bottom: var(--spacing-lg);
    left: auto;
  }
}

.toast {
  --status-color: var(--color-border-default);
  --toast-width: 100%;

  display: flex;
  gap: var(--spacing-xs);
  align-items: flex-start;
  width: var(--toast-width);
  padding: var(--spacing-md);
  border: 1px solid var(--status-color);
  border-radius: var(--radius-sm);
  background-color: var(--color-white);
  box-shadow:
    0 16px 9px 0 rgb(0 0 0 / 1%),
    0 7px 7px 0 rgb(0 0 0 / 2%),
    0 2px 4px 0 rgb(0 0 0 / 3%);
  color: var(--color-black);
  font-family: var(--font-primary);
  animation: toast-enter 0.5s ease-out;
  pointer-events: auto;

  @media (width >= 48em) {
    --toast-width: 25rem;
  }

  &__content-wrapper {
    display: flex;
    flex: 1 0;
    gap: var(--spacing-sm);
    margin-right: auto;
  }

  &__status-icon {
    flex-shrink: 0;
    color: var(--status-color);

    svg {
      width: 1.25rem;
      height: 1.25rem;
    }
  }

  &__content {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    min-width: 0;
  }

  &__title {
    font-size: 0.875rem;
    font-weight: 600;
  }

  &__description {
    font-size: 0.75rem;
    font-weight: 400;
  }

  &__actions {
    display: flex;
    flex-wrap: wrap;
    gap: var(--spacing-xs);
    margin-top: var(--spacing-xs);
  }

  &__close-button {
    flex-shrink: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 1.5rem;
    height: 1.5rem;
    padding: 0;
    border: 0;
    background: transparent;
    color: var(--color-placeholder);
    cursor: pointer;

    svg {
      width: 1rem;
      height: 1rem;
    }
  }

  &--success {
    --status-color: var(--color-success);
  }

  &--warning {
    --status-color: var(--color-warning);
  }

  &--danger {
    --status-color: var(--color-invalid);
  }
}

@keyframes toast-enter {
  from {
    transform: translateX(30px);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}
