.layout {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
}

.center {
  width: min(100%, 500px);
  max-width: 500px;
  padding: var(--spacing-lg);
  height: 500px;
  background-color: grey;
}
