:root {
  --primary: #38025c;
  --secondary: #7d55c7;

  --text: #000;
  --text-inverted: #fafafa;
  --text-discreet: dimgray;

  --background: #fafafa;
  --background-elevated: #fff;
  --border: #bdbdbd;

  --button: var(--primary);
  --button-hover: var(--secondary);

  --focus-ring: var(--primary);
  --shadow-elevated: 0 12px 30px rgb(0 0 0 / 12%);
}

:root.theme-didk2023,
.theme--local.theme-didk2023 {
  --primary: #38025c;
  --secondary: #7d55c7;

  --text: #000;
  --text-inverted: #fafafa;
  --text-discreet: dimgray;

  --background: #fafafa;
  --background-elevated: #fff;
  --border: #bdbdbd;

  --button: var(--primary);
  --button-hover: var(--secondary);

  --focus-ring: var(--primary);
  --shadow-elevated: 0 12px 30px rgb(0 0 0 / 12%);
}