@font-face {
  font-weight: 400;
  font-family: 'DI Sans Display';
  font-style: normal;
  src: url('/assets/shared/fonts/DISansDisplay-Regular.otf') format('opentype');
}

@font-face {
  font-weight: 500;
  font-family: 'DI Sans Display';
  font-style: normal;
  src: url('/assets/shared/fonts/DISansDisplay-Medium.otf') format('opentype');
}

@font-face {
  font-weight: 600;
  font-family: 'DI Sans Display';
  font-style: normal;
  src: url('/assets/shared/fonts/DISansDisplay-DemiBold.otf') format('opentype');
}

@font-face {
  font-weight: 700;
  font-family: 'DI Sans Display';
  font-style: normal;
  src: url('/assets/shared/fonts/DISansDisplay-Bold.otf') format('opentype');
}
