@use '../variables/breakpoints' as *;
@use '../functions/' as *;
@use 'scrollbar' as *;

@mixin modal {
  $module: &;

  @include scrollbar;

  display: flex;
  flex-direction: column;
  max-width: 100%;
  min-height: 69px;
  overflow: auto;
  font-family: var(--theme-font-primary, var(--font-primary));
  background-color: var(--theme-color-white, var(--color-white));
  border-radius: var(--theme-spacing-xs, var(--spacing-xs));

  &[data-entering] {
    animation: modal-zoom var(--animation-slow-ease-in);
  }

  &:has([class*='-headline']) {
    min-height: 154px;
  }

  &:has([class*='-footer']) {
    min-height: 158px;
  }

  &:has([class*='-headline']):has([class*='-footer']) {
    min-height: 243px;
  }

  &__dialog {
    display: flex;
    flex-direction: column;
    min-height: 0; /* for Firefox */

    &:focus-visible {
      outline: none;
    }

    form {
      min-height: 0;
    }
  }
}

@mixin modal-headline {
  --spacing-horizontal: var(--theme-spacing-md, var(--spacing-md));
  --spacing-vertical: var(--theme-spacing-sm, var(--spacing-sm));

  display: flex;
  flex-direction: row;
  gap: var(--theme-spacing-3xl, var(--spacing-3xl));
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: var(--spacing-vertical) var(--spacing-horizontal);
  color: var(--theme-color-dark-400, var(--color-dark-400));
  font-family: var(--theme-font-display, var(--font-display));
  border-bottom: 1px solid var(--theme-color-light-200, var(--color-light-200));

  h6 {
    font-weight: 700;
    font-size: rem(24px);
  }

  @media (width >= $mq-sm) {
    --spacing-horizontal: var(--theme-spacing-lg, var(--spacing-lg));
    --spacing-vertical: var(--theme-spacing-md, var(--spacing-md));
  }

  @media (width >= $mq-lg) {
    --spacing-horizontal: var(--theme-spacing-xl, var(--spacing-xl));
    --spacing-vertical: var(--theme-spacing-lg, var(--spacing-lg));
  }
}

@mixin modal-content {
  --spacing-horizontal: var(--theme-spacing-md, var(--spacing-md));
  --spacing-vertical: var(--theme-spacing-sm, var(--spacing-sm));

  display: flex;
  flex-direction: column;
  gap: var(--theme-spacing-md, var(--spacing-md));
  width: 100%;
  min-height: 0; /* for Firefox */
  max-height: fit-content;
  padding: var(--spacing-vertical) var(--spacing-horizontal);

  @media (width >= $mq-sm) {
    --spacing-horizontal: var(--theme-spacing-lg, var(--spacing-lg));
    --spacing-vertical: var(--theme-spacing-md, var(--spacing-md));
  }

  @media (width >= $mq-lg) {
    --spacing-horizontal: var(--theme-spacing-xl, var(--spacing-xl));
    --spacing-vertical: var(--theme-spacing-lg, var(--spacing-lg));
  }
}

@mixin modal-footer {
  --spacing-horizontal: var(--theme-spacing-md, var(--spacing-md));
  --spacing-vertical: var(--theme-spacing-sm, var(--spacing-sm));

  width: 100%;
  padding: var(--spacing-vertical) var(--spacing-horizontal);
  border-top: 1px solid var(--theme-color-light-200, var(--color-light-200));

  @media (width >= $mq-sm) {
    --spacing-horizontal: var(--theme-spacing-lg, var(--spacing-lg));
    --spacing-vertical: var(--theme-spacing-md, var(--spacing-md));
  }

  @media (width >= $mq-lg) {
    --spacing-horizontal: var(--theme-spacing-xl, var(--spacing-xl));
    --spacing-vertical: var(--theme-spacing-lg, var(--spacing-lg));
  }
}

@keyframes modal-zoom {
  from {
    transform: scale(0.8);
  }

  to {
    transform: scale(1);
  }
}
