@mixin scrollbar($scroll-behavior: auto) {
  scroll-behavior: $scroll-behavior;

  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--color-primary);
    border: 3px solid var(--color-white);
    border-radius: 10px;
  }

  &:active::-webkit-scrollbar-thumb,
  &:hover::-webkit-scrollbar-thumb,
  &:focus::-webkit-scrollbar-thumb {
    background: var(--color-primary);
  }
}
