.logo {
  display: inline-flex;
  align-items: center;
  color: var(--color-primary);
  text-decoration: none;

  svg {
    width: 3.25rem;
    max-width: none;
    height: 2rem;
  }

  &__title {
    display: none;
    margin-left: var(--spacing-sm);
    padding-top: var(--spacing-2xs);
    color: var(--color-black);
    font-family: var(--font-display);
    font-size: 1.5rem;
    line-height: 1.2;
  }
}

@media (width >= 48em) {
  .logo {
    svg {
      width: 4.0625rem;
      height: 2.5rem;
    }

    &__title {
      display: inline-block;
    }
  }
}
