@font-face {
  font-weight: 900;
  font-family: 'DI Sans';
  font-style: normal;
  src:
    url('/assets/shared/fonts/disans_he-webfont.woff2') format('woff2'),
    url('/assets/shared/fonts/disans_he-webfont.woff') format('woff');
}

@font-face {
  font-weight: 600;
  font-family: 'DI Sans';
  font-style: normal;
  src:
    url('/assets/shared/fonts/disans_bd-webfont.woff2') format('woff2'),
    url('/assets/shared/fonts/disans_bd-webfont.woff') format('woff');
}

@font-face {
  font-weight: 500;
  font-family: 'DI Sans';
  font-style: normal;
  src:
    url('/assets/shared/fonts/disans_dbd-webfont.woff2') format('woff2'),
    url('/assets/shared/fonts/disans_dbd-webfont.woff') format('woff');
}

@font-face {
  font-weight: 400;
  font-family: 'DI Sans';
  font-style: italic;
  src:
    url('/assets/shared/fonts/disans_it-webfont.woff2') format('woff2'),
    url('/assets/shared/fonts/disans_it-webfont.woff') format('woff');
}

@font-face {
  font-weight: 400;
  font-family: 'DI Sans';
  font-style: normal;
  src:
    url('/assets/shared/fonts/disans_rg-webfont.woff2') format('woff2'),
    url('/assets/shared/fonts/disans_rg-webfont.woff') format('woff');
}

@font-face {
  font-weight: 300;
  font-family: 'DI Sans';
  font-style: normal;
  src:
    url('/assets/shared/fonts/disans_lt-webfont.woff2') format('woff2'),
    url('/assets/shared/fonts/disans_lt-webfont.woff') format('woff');
}
