@font-face {
  font-weight: 100;
  font-family: 'DI Sans Display';
  font-style: normal;
  src: url('/assets/shared/fonts/DISansDisplay-Thin.otf') format('opentype');
}

@font-face {
  font-weight: 200;
  font-family: 'DI Sans Display';
  font-style: normal;
  src: url('/assets/shared/fonts/DISansDisplay-ExtraLight.otf') format('opentype');
}

@font-face {
  font-weight: 300;
  font-family: 'DI Sans Display';
  font-style: normal;
  src: url('/assets/shared/fonts/DISansDisplay-Light.otf') format('opentype');
}

@font-face {
  font-weight: 400;
  font-family: 'DI Sans Display';
  font-style: normal;
  src: url('/assets/shared/fonts/DISansDisplay-Regular.otf') format('opentype');
}

@font-face {
  font-weight: 500;
  font-family: 'DI Sans Display';
  font-style: normal;
  src: url('/assets/shared/fonts/DISansDisplay-Medium.otf') format('opentype');
}

@font-face {
  font-weight: 600;
  font-family: 'DI Sans Display';
  font-style: normal;
  src: url('/assets/shared/fonts/DISansDisplay-DemiBold.otf') format('opentype');
}

@font-face {
  font-weight: 700;
  font-family: 'DI Sans Display';
  font-style: normal;
  src: url('/assets/shared/fonts/DISansDisplay-Bold.otf') format('opentype');
}

@font-face {
  font-weight: 800;
  font-family: 'DI Sans Display';
  font-style: normal;
  src: url('/assets/shared/fonts/DISansDisplay-ExtraBold.otf') format('opentype');
}

@font-face {
  font-weight: 900;
  font-family: 'DI Sans Display';
  font-style: normal;
  src: url('/assets/shared/fonts/DISansDisplay-Black.otf') format('opentype');
}
