.text {
  &--bold {
    font-weight: 700;
  }

  &--italic {
    font-style: italic;
  }

  &--line-through {
    text-decoration: line-through;
  }

  &--underline {
    text-decoration: underline;
  }

  &--underline-line-through {
    text-decoration: underline line-through;
  }
}
