:root {
  --animation-fast: 50ms;
  --animation-fast-ease-in: 50ms ease-in;
  --animation-slow: 200ms;
  --animation-slow-ease-in: 200ms ease-in;
  --animation-slow-reverse-ease-in: 200ms reverse ease-in;
}
