:root {
  $color-white: #fff;
  $color-black: #000;
  $color-dark-500: #131214;
  $color-dark-400: #272529;
  $color-dark-300: #3b383d;
  $color-dark-200: #504d52;
  $color-dark-100: #646266;
  $color-light-500: #bdbdbd;
  $color-light-400: #ccc;
  $color-light-300: #dbdbdb;
  $color-light-200: #ebebeb;
  $color-light-150: #f1f1f1;
  $color-light-100: #fafafa;
  $color-overlay-black-30: rgb(0 0 0 / 30%);
  $color-placeholder: #b9bbbf;
  $color-invalid: #d22730;
  $color-invalid-shade: #fceeee;
  $color-warning: #ffc400;
  $color-warning-shade: #fffaeb;
  $color-success: #00875a;
  $color-success-shade: #ebfff8;
  $color-disabled-text: #a1a1a1;
  $color-disabled-background: #ebebeb;
  $color-border-default: #e5e8ed;
  $color-border-hover: #ced0d3;
  $color-surface-disabled: #eff1f5;
  $color-surfaces-surface-1: #f7f8fa;
  $color-surfaces-surface-2: #eff1f5;

  --color-white: #{$color-white};
  --color-black: #{$color-black};
  --color-dark-500: #{$color-dark-500};
  --color-dark-400: #{$color-dark-400};
  --color-dark-300: #{$color-dark-300};
  --color-dark-200: #{$color-dark-200};
  --color-dark-100: #{$color-dark-100};
  --color-light-500: #{$color-light-500};
  --color-light-400: #{$color-light-400};
  --color-light-300: #{$color-light-300};
  --color-light-200: #{$color-light-200};
  --color-light-150: #{$color-light-150};
  --color-light-100: #{$color-light-100};
  --color-overlay-black-30: #{$color-overlay-black-30};
  --color-placeholder: #{$color-placeholder};
  --color-invalid: #{$color-invalid};
  --color-invalid-shade: #{$color-invalid-shade};
  --color-warning: #{$color-warning};
  --color-warning-shade: #{$color-warning-shade};
  --color-success: #{$color-success};
  --color-success-shade: #{$color-success-shade};
  --color-disabled-text: #{$color-disabled-text};
  --color-disabled-background: #{$color-disabled-background};
  --color-border-default: #{$color-border-default};
  --color-border-hover: #{$color-border-hover};
  --color-surface-disabled: #{$color-surface-disabled};
  --color-surfaces-surface-1: #{$color-surfaces-surface-1};
  --color-surfaces-surface-2: #{$color-surfaces-surface-2};
}
